output_tmp*
.idea
*.iml
target
*.bin-runtime
*.vandal
*.html
*.hex
*.png
*.smt
*.pyc
*.abi/
jars/
outputs/
**/build
.gradle/
gen/
z3/
comments/
Projects/
tmp_isFail
tmp-cvc4-*
tmp-z3-*
formulas/
emv-*/
*.smt2
*.tac
Results.txt
.certora_build.json
.certora_config/
certora_verify.json
/.certora_settings.json
/.certora_verify.json
.last_confs/
*/.certora_verify.json
*/*/.certora_verify.json
Test/*.json
Test/**/*.json
Test/**/*.txt
.smtlibutils
.irutils
.mainbuild
.mypy_cache
**/sample.zip
**/certora.test.results.xml

# Add expected.json
!Test/**/expected*.json
!Test/**/expected*.txt
